body {
	background-image: url("../images/TallestWallpaper.png");
	background-size:100%;
   	background-repeat:no-repeat;
   	background-color: black;
   	height: 100%;
   	width: 100%;
}

#heading {
float: right;
width: 30%;
max-width: 300px;
margin: 50px;
}

#title {
	padding: 20px;
	margin: auto;
	padding-bottom: 0px;
	width: 100%;
}

#action {
	float:left;
	width: 65%;
	max-width: 700px;
}

h1 {
	font-size: 50px;
	margin: auto;
	text-align: center;
	padding: 20px;
	padding-top: 0px;
}

h2 {
	font-size: 24px;
	margin: 0;
}

h1, h2, h3, p {
	color: white;
} 

#tag {
 	float: left;
 	text-align: center;
 	line-height: 125px;
 }


.character, .enemy, .yourCharacter, .defender {
	max-width: 120px;
	float: left;
	padding: 10px;
	background-color: black;
	margin: 5px;
	border: 2px solid #4fb69a;
}

.character img, .enemy img, .yourCharacter img, .defender img {
	width: 100%;
	padding: 0;
	margin: 0;
}

.charName, .hp, .enemyhp	 {
	text-align: center;
	padding: 0;
	margin: 0;
	color: white;
}

#fight {
	clear: both;
}

button {
	margin-top: 10px;
}

#enemies {
	float: left;
}

.enemy, .defender {
	border: 2px solid #fe0000;
}

.hidden {
	display: none;
}

#enemies, #vs, #select, #message {
	margin:20px;
}

#message {
	clear: both;
	border:3px dashed white;
	width: 300px;
	height: 100px;
	color: white;
	font-size: 30px;
	text-align: center;
	display:inline-block;
	vertical-align: middle;
	padding: 10px;
}